<%- include("partials/header"); -%>

<h1>all users page</h1>
<table>
  <tr>
<%allusers.forEach(function(user){ %> %>


  <form method="post">
      <td>
      <h2 class="secret-text"><%= user.username %>
        </td>
          <td>
<button  class="btn btn-danger" action="submit" value="<%=user._id%>"  name="deluser" formaction="/deluser">DELETE</button>
</td>
<td>
<button  class="btn btn-primary" action="submit" value="<%=user._id%>"  name="modifyuser" formaction="/allusers/<%=user.username%>">MODIFY</button>
</td>
</tr>


  </h2>
      <% }) %>
  </form>
<table>
  <a href="../"> Go Back </a>
