<%- include("partials/admin"); -%>
<p style="margin-top:35px;" class="alert alert-success <%if (!goodMsg ) { %> hidden <%}%>  ">
<%=goodMsg%>

<i class=" fas fa-check"></i></p>
<style>

</style>
<div class="admin-dash" style="margin-top:50px;" id="tourpackages-carousel">
  <a href="coupons/add"><button style="margin-bottom:5px;" class="btn btn-primary"> ADD a New Coupon</button></a>
  <table class="edit-page-table">

    <td> ID </td>
    <td>Name</td>
    <td class="tdprice">Discount </td>
    <td class="tdprice"> Validate Till (year/month/day) </td>
    <td class="tdprice"> Created At </td>
    <td class="tdstatus"> Status </td>
    <td> Disable/Enable </td>


    <%coupons.forEach(function(coupon){ %>
    <tr>
      <td><%=coupon.couponid%></td>
      <td> <%=coupon.name%></td>
      <td> <%=coupon.discount%>%</td>
      <td class="tdprice"> <%=coupon.validatetill%> </td>
      <td class="tdprice"> <%=coupon.createdAt%></td>
      <td> <% if(coupon.status) {%>Active <% } else { %> Disabled <% } %> </td>
      <td>
        <a href="/admin/coupons/toggle/<%=coupon._id%>">
          Toggle</a></td>



    </tr>



    <div class="caption">



      <% }) %>
  </table>

  <div class="text-center">
  </div>
</div>
<%- include("partials/footer"); -%>
