
<%- include("partials/header",{ userr:userr}); %>


Hello <% if (userr!=null) { %>
 <%= userr.username%>

<%} else { %>
  Annonymous
  <% } %>
  <h1><u>Users With Secrets</u></h1>
    <%usersWithSecrets.forEach(function(user){ %>

      <h3 class="secret-text"><%= user.username %> has a secret:
        <%=user.secret%>
      </h3>
      <p>


      </p>
      <% }) %>





<%- include("partials/footer"); -%>
