<%- include("partials/admin"); %>


<div class="row admin-dash" >
  <p style="margin-top:35px;" class="alert alert-success <%if (!succesMsg) { %> hidden <%}%>  ">
  <%=succesMsg%>
  </p>
    <div class="col-md-8 col-md-offset-2">
        <h1>Site Complaints</h1>
        <hr>


                <% foundMsgs.forEach(function(msg) { %>



            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item">
                      <strong>Reference ID:</strong> <%=msg.id%>
                      </li>

                      <li class="list-group-item">
                      <strong>Status:</strong> <% if(msg.status == 0) { %> Open <% } else { %> Closed <% } %>
                      </li>

                            <li class="list-group-item">
                            <strong>Title:</strong>  <%= msg.title %>
                            </li>
                                      <li class="list-group-item">
                                        <strong>Content:</strong>  <%= msg.message %>
</li>
                                      <li class="list-group-item">
  <strong>Response:</strong>  <%= msg.answer %>
                                        </li>
              <% if (msg.status==1)   {               %>         <li class="list-group-item">
    <strong>Closed by:</strong>  <%= msg.closedBy %>
                                          </li> <% } %>
                    </ul>
                </div>

                <div class="panel-footer">
                    <strong>Sent by: <%= msg.user %> <br/> Email: <%=msg.email %>
                       <span class="deletemsg"><a href="/admin/msg-del/<%=msg._id%>">DELETE MSG</a> </span>
                      <!-- <span class="msg-respond"><a href="admin/msg-respond/<%=msg._id%>">RESPOND</a> </span> -->


                        <span class="pull-right">Time: <%= msg.date%></span></strong>

  <div class="answerclass" <% if (msg.status==1) { %> style="display:none" <% } %>>
<strong>Response:</strong>
<form method="post">
  <textarea name='replyAnswer' placeholder='Enter your reply here' rows='4' cols='40' class='Commentary'>
  </textarea>






  <input type="hidden" name="answerid" value="<%=msg._id%>">
    <button style="position:relative;bottom:8px;"  class='send' type='submit'>REPLY</submit>
         </form>
         </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>





<%- include("partials/footer"); -%>
